@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

:root {
  --background: 0 0% 100%;
  --foreground: 197 77% 15%;
  --card: 0 0% 100%;
  --card-foreground: 197 77% 15%;
  --popover: 0 0% 100%;
  --popover-foreground: 197 77% 15%;
  --primary: 190 95% 43%;
  --primary-foreground: 185 100% 96%;
  --secondary: 191 90% 37%;
  --secondary-foreground: 185 100% 96%;
  --muted: 185 92% 90%;
  --muted-foreground: 195 68% 27%;
  --accent: 189 85% 53%;
  --accent-foreground: 197 77% 15%;
  --destructive: 0 84% 60%;
  --border: 187 93% 82%;
  --input: 187 93% 82%;
  --ring: 190 95% 43%;
  --radius: 0.5rem; /* Default shadcn/ui radius */
}

.dark {
  --background: 197 77% 15%;
  --foreground: 185 100% 96%;
  --card: 196 63% 24%;
  --card-foreground: 185 100% 96%;
  --popover: 196 63% 24%;
  --popover-foreground: 185 100% 96%;
  --primary: 190 95% 43%;
  --primary-foreground: 197 77% 15%;
  --secondary: 191 90% 37%;
  --secondary-foreground: 185 100% 96%;
  --muted: 195 68% 27%;
  --muted-foreground: 187 93% 82%;
  --accent: 189 85% 53%;
  --accent-foreground: 197 77% 15%;
  --destructive: 0 72% 51%;
  --border: 195 68% 27%;
  --input: 195 68% 27%;
  --ring: 189 85% 53%;
  /* --radius will inherit from :root */
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
